@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDFDFE;
  --color-primary: #1D2E5C;
  --color-secondary: #395BC7;
  --border-color: #BDD1FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A111C;
    --color-primary: #D0E2FA;
    --color-secondary: #A4B5CC;
    --border-color: #3F4D61;
  }
}

body {
  color: var(--color-primary);
  background: var(--background);
}
